* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  background-color: #000;
}

body {
  margin: 0 auto;
}

#game-menu {
  float: left;
  width: 15%;
  height: 100%;
  color: #fff;
}

#game-background {
  float: right;
  position: relative;
  width: 85%;
  height: 100%;
  background-image: url('../img/grass.png');
}